<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Login</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='stylesheets/main.css') }}">
        <!--script src='main.js'></script-->
    </head>
    <body>
        <form action="/index.html">
            <label for="login_name">Nome:</label>
            <input required="true" type="text" id="login_name" name="login_name"><br><br>
            <input type="submit" value="Submit">
          </form>
    </body>
</html>